<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.weeget.service.id.baidu.worker.dao.WorkerNodeDAO">
    <resultMap id="workerNodeRes"
               type="cn.weeget.service.id.baidu.worker.entity.WorkerNodeEntity">
        <id column="ID" jdbcType="BIGINT" property="id" />
        <result column="host_name" jdbcType="VARCHAR" property="hostName" />
        <result column="port" jdbcType="VARCHAR" property="port" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="launch_date" jdbcType="DATE" property="launchDate" />
        <result column="modified" jdbcType="TIMESTAMP" property="modified" />
        <result column="created" jdbcType="TIMESTAMP" property="created" />
    </resultMap>

    <insert id="addWorkerNode" useGeneratedKeys="true" keyProperty="id"
            parameterType="cn.weeget.service.id.baidu.worker.entity.WorkerNodeEntity">
		INSERT INTO worker_node
		(
			host_name,
			port,
			type,
			launch_date,
			modified,
			created
		)
		values
		(
			#{hostName},
			#{port},
			#{type},
			#{launchDate},
			now(),
			now()
		)
	</insert>

    <select id="getWorkerNodeByHostPort" resultMap="workerNodeRes">
		select
			id,
			host_name,
			port,
			type,
			launch_date,
			modified,
			created
			from
			worker_node
		where
			host_name = #{host} and port = #{port}
	</select>
</mapper>
